/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Noto Sans TC";
  color: #221E1F;
  line-height: 1.5;
}

a {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

.header {
  position: absolute;
  padding-top: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: calc(100% - 32px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo img {
  width: 218px;
  vertical-align: middle;
}

.header-btn {
  width: 128px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 22px;
  background: #FF5D50;
  color: #FFF;
  text-decoration: none;
}

.header-btn:active {
  background: #ff8c83;
}

@media (max-width: 767px) {
  .header {
    position: relative;
    width: calc(100% + 32px);
    padding: 0px 16px;
    margin-right: -16px;
    margin-left: -16px;
    border-bottom: 2px solid #F6CB52;
    line-height: 70px;
  }
  .header-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-logo img {
    width: 130px;
  }
}

.top-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFF;
  font-weight: 800;
  width: 70px;
  height: 70px;
  background: #56C4C5;
  border-radius: 50%;
  position: fixed;
  bottom: 10%;
  right: 5%;
  border: none;
  cursor: pointer;
  z-index: 100;
}

@media (max-width: 767px) {
  .top-btn {
    width: 50px;
    height: 50px;
    right: 16px;
    bottom: 16px;
  }
}

.header {
  margin-top: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0;
  padding-bottom: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .header {
    margin-top: 0;
    background: #FFF;
  }
}

.wrap {
  background-image: url(../img/banner.svg), url(../img/ball03.svg);
  background-size: 65%,360px;
  background-repeat: no-repeat;
  background-position: top right,-266px 790px;
}

@media (max-width: 767px) {
  .wrap {
    background-image: url(../img/banner_sm.svg), url(../img/ball03.svg);
    background-position: 0 72px,-100px 1340px;
    background-size: contain,55%;
  }
}

.banner-img {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 470px;
  background: #F7F9FD;
  border-radius: 0px 0px 0px 300px;
}

@media (max-width: 767px) {
  .banner-img {
    height: calc(495px + 72px);
  }
}

.container {
  position: relative;
  max-width: 1120px;
  margin: 0 auto;
  padding-right: 16px;
  padding-left: 16px;
}

@media (max-width: 1120px) {
  .container {
    max-width: 920px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 720px;
    background-image: none;
  }
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 470px;
}

@media (max-width: 767px) {
  .banner {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

.banner-title {
  line-height: 70px;
  font-size: 3rem;
  font-weight: bold;
}

@media (max-width: 767px) {
  .banner-title {
    font-size: 2rem;
    margin-top: 48px;
    line-height: 46px;
  }
}

.program {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 100px;
  gap: 21px;
}

@media (max-width: 767px) {
  .program {
    margin-top: 60px;
  }
}

.program-title {
  font-weight: bold;
  font-size: 2rem;
}

@media (max-width: 767px) {
  .program-title {
    text-align: center;
  }
}

.program-number {
  margin-top: 48px;
  margin-bottom: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}

.program-number-btn {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 136px;
  height: 49px;
  background: #56C4C5;
  color: #FFF;
  border-radius: 27px;
  border: none;
  font-size: 1.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background: #FFF;
  color: #56C4C5;
  border: 1px solid #56C4C5;
}

.program-number-btn:active {
  background: #7cd1d2;
}

@media (max-width: 767px) {
  .program-number {
    margin-bottom: 32px;
    display: -webkit-box;
    overflow-x: scroll;
  }
}

.program-card {
  width: 49%;
  border-radius: 12px;
  -webkit-box-shadow: 0px 2px 10px #00000014;
          box-shadow: 0px 2px 10px #00000014;
}

@media (max-width: 1120px) {
  .program-card {
    width: 48%;
  }
}

@media (max-width: 767px) {
  .program-card {
    width: 100%;
  }
}

.program-card-title {
  line-height: 35px;
  border-radius: 12px 12px 0 0;
  background: #FFFFFF;
  text-align: center;
  font-weight: bold;
  padding: 16px 24px;
  font-size: 1.5rem;
  border-bottom: 1px solid #56C4C5;
}

.program-card-section {
  background: #FFFFFF;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 24px 24px 32px 24px;
  border-radius: 0 0 12px 12px;
}

@media (max-width: 767px) {
  .program-card-section {
    padding: 24px 16px 24px 16px;
  }
}

.program-card-section-title {
  text-align: center;
}

.program-card-section-check {
  font-size: 0.875rem;
  margin-bottom: 16px;
  line-height: 24px;
}

.program-card-section-check-icon {
  margin-right: 13px;
  width: 20px;
  height: 16px;
  vertical-align: middle;
}

.program-card-section-btnblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 32px;
}

.program-card-section-btn {
  text-decoration: none;
  cursor: pointer;
  width: 136px;
  height: 49px;
  background: #56C4C5;
  color: #FFF;
  border-radius: 27px;
  border: none;
  font-size: 1.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.program-card-section-btn:active {
  background: #7cd1d2;
}

.number-btn-active {
  background: #56C4C5;
  color: #FFF;
}

.check-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.check-wrap img {
  vertical-align: top;
}

.section-equal {
  margin-top: 32px;
  margin-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-equal-card {
  padding: 24px 22px;
  width: 169px;
  height: 108px;
  background: #F5F5F5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 12px;
}

@media (max-width: 767px) {
  .section-equal-card {
    padding: 16px 15px;
  }
}

.section-equal-card-paragraph {
  font-size: 0.75rem;
  line-height: 17px;
  margin-bottom: 8px;
}

.section-equal-card-number {
  font-size: 2rem;
  line-height: 35px;
  color: #56C4C5;
  margin-right: -8px;
  font-weight: bold;
}

@media (max-width: 767px) {
  .section-equal-card-number {
    font-size: 1.75rem;
  }
}

.section-equal-card-sub {
  font-size: 0.75rem;
  margin-left: 8px;
}

@media (max-width: 767px) {
  .section-equal-card-sub {
    margin-left: 4px;
  }
}

.section-equal-card-price {
  font-size: 2rem;
  line-height: 35px;
  margin-right: -8px;
  font-weight: bold;
}

.section-equal-card-TWD {
  font-size: 0.75rem;
  margin-left: 8px;
}

@media (max-width: 767px) {
  .section-equal-card-price, .section-equal-card-number {
    font-size: 1.75rem;
  }
}

.section-equal-icon {
  font-size: 1.8rem;
  line-height: 42px;
}

@media (max-width: 767px) {
  .section-equal-icon {
    margin: 0 6px;
  }
}

.question {
  margin-top: 100px;
}

.question-title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 48px;
}

.qa {
  cursor: pointer;
  -webkit-box-shadow: 0px 2px 10px #00000014;
          box-shadow: 0px 2px 10px #00000014;
  padding: 16px 32px;
  border-radius: 12px;
  margin-bottom: 16px;
}

@media (max-width: 767px) {
  .qa {
    padding: 16px;
  }
}

.qa-q {
  line-height: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.qa-q-plus, .qa-q-minus {
  height: 20px;
  padding: 0;
  cursor: pointer;
  border: none;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.qa-large {
  padding: 16px 32px 32px 32px;
}

.qa-large-title {
  color: #56C4C5;
  font-size: 1.125rem;
  line-height: 28px;
  margin-bottom: 24px;
}

.qa-large-ans {
  display: none;
  color: #747474;
  line-height: 32px;
}

@media (max-width: 767px) {
  .qa-large {
    padding: 16px 16px 24px 16px;
  }
}

.copyright {
  margin-top: 100px;
}

.copyright {
  width: 100%;
  padding: 16px;
  text-align: center;
  background: #F5F5F5;
}
/*# sourceMappingURL=price.css.map */