.header{
    position: absolute;
    padding-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 32px);
    align-items: center;
    &-logo img{
        width: 218px;
        vertical-align: middle;
    }
    &-btn{
        width: 128px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 22px;
        background: #FF5D50;
        color: #FFF;
        text-decoration: none;
        &:active{
            background: lighten(#FF5D50,10%);
        }
    }
    @include phone{
        position: relative;
        width: calc(100% + 32px);
        padding:0px 16px;
        margin-right: -16px;
        margin-left: -16px;
        border-bottom: 2px solid #F6CB52;
        line-height: 70px;
        &-logo{
            display: flex;
            align-items: center;
        }
        &-logo img{
            width: 130px;
        }
    }
}

.top-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-weight: 800;
    width: 70px;
    height: 70px;
    background: #56C4C5;
    border-radius: 50%;
    position: fixed;
    bottom: 10%;
    right: 5%;
    border: none;
    cursor: pointer;
    z-index: 100;
    @include phone{
        width: 50px;
        height: 50px;
        right: 16px;
        bottom: 16px;
    }
}
