@mixin pad {
    @media (max-width: 1120px) {
        @content;
    }
}

@mixin phone{
    @media (max-width: 767px) {
        @content;   
    }
}

@mixin blue-btn{
    width: 136px;
    height: 49px;
    background: #56C4C5;
    color: #FFF;
    border-radius: 27px;
    border: none;
    font-size: 1.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    &:active{
        background: lighten(#56C4C5,10%);
    }
}

@mixin d-flex{
    display: flex;
}