.header{
    margin-top: 1.5rem;
    display: flex;
    padding-top: 0;
    padding-bottom: 0;
    align-items: center;
    @include phone{
        margin-top: 0;
        background: #FFF;
    }
}

.wrap{
    background-image: url(../img/banner.svg),url(../img/ball03.svg);
    background-size: 65%,360px;
    background-repeat: no-repeat;
    background-position: top right,-266px 790px;
    @include phone{
        background-image: url(../img/banner_sm.svg),url(../img/ball03.svg); 
        background-position: 0 72px,-100px 1340px;
        background-size: contain,55%;
    }
}

.banner-img{
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 470px;
    background: #F7F9FD;
    border-radius: 0px 0px 0px 300px;
    @include phone{
        height: calc(495px + 72px);
    }
}

.container{
    position: relative;
    max-width: 1120px;
    margin: 0 auto;
    padding-right: 16px;
    padding-left: 16px;
    @include pad{
        max-width: 920px;
    }
    @include phone{
        max-width: 720px;
        background-image: none;
    }
}

.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 470px;
    @include phone{
        justify-content: start;
    }
    &-title{
        line-height: 70px;
        font-size: 3rem;
        font-weight: bold;
        @include phone{
            font-size: 2rem;
            margin-top: 48px;
            line-height: 46px;
        }
    }
}

.program{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
    @include phone{
        margin-top: 60px;
    }
    gap: 21px;
    &-title{
        font-weight: bold;
        font-size: 2rem;
        @include phone{
            text-align: center;
        }
    }
    &-number{
        margin-top: 48px;
        margin-bottom: 48px;
        display: flex;
        gap: 16px;
        &-btn{
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            @include blue-btn;
            background: #FFF;
            color: #56C4C5;
            border: 1px solid #56C4C5;
        }
        @include phone{
            margin-bottom: 32px;
            display: -webkit-box;
            overflow-x: scroll;
        }
    }
    &-card{
        width: 49%;
        @include pad{
            width: 48%;
        }
        @include phone{
            width: 100%;
        }
        border-radius: 12px;
        box-shadow: 0px 2px 10px #00000014;
        &-title{
            line-height: 35px;
            border-radius: 12px 12px 0 0;
            background: #FFFFFF;
            text-align: center;
            font-weight: bold;
            padding: 16px 24px;
            font-size: 1.5rem; 
            border-bottom: 1px solid #56C4C5;
        }
        &-section{
            background: #FFFFFF;
            flex-wrap: wrap;
            padding: 24px 24px 32px 24px;
            border-radius: 0 0 12px 12px;
            @include phone{
                padding: 24px 16px 24px 16px;
            }
            &-title{
                text-align: center;
            }
            &-check{
                font-size: 0.875rem;
                margin-bottom: 16px;
                line-height: 24px;
            }
            &-check-icon{
                margin-right: 13px;
                width: 20px;
                height: 16px;
                vertical-align: middle;
            }
            &-btnblock{
                display: flex;
                justify-content: center;
                margin-top: 32px;
            }
            &-btn{
                text-decoration: none;
                cursor: pointer;
                @include blue-btn;
            }
        }
    }
}

.number-btn-active{
    background: #56C4C5;
    color: #FFF;
}

.check-wrap{
    & img{
        vertical-align: top;
    }
    display: flex;
    align-items: baseline;
}

.section-equal{
    margin-top: 32px;
    margin-bottom: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-card{
        padding: 24px 22px;
        width: 169px;
        height: 108px;
        background: #F5F5F5;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        border-radius: 12px;
        @include phone{
            padding: 16px 15px;
        }
        &-paragraph{
            font-size: 0.75rem;
            line-height: 17px;
            margin-bottom: 8px;
        }
        &-number{
            font-size: 2rem;
            line-height: 35px;
            color: #56C4C5;
            margin-right: -8px;
            font-weight: bold;
            @include phone{
                font-size: 1.75rem;
            }
        }
        &-sub{
            font-size: 0.75rem;
            margin-left: 8px;
            @include phone{
                margin-left: 4px;
            }
        }
        &-price{
            font-size: 2rem;
            line-height: 35px;
            margin-right: -8px;
            font-weight: bold;
        }
        &-TWD{
            font-size: 0.75rem;
            margin-left: 8px;
        }
        &-price, &-number{
            @include phone{
                font-size: 1.75rem;
            }
        }
    }
    &-icon{
        font-size: 1.8rem;
        line-height: 42px;
        @include phone{
            margin: 0 6px;
        }
    }
}

.question{
    margin-top: 100px;
    &-title{
        font-size: 2rem;
        text-align: center;
        margin-bottom: 48px;
    }
}

.qa{
    cursor: pointer;
    box-shadow: 0px 2px 10px #00000014;
    padding: 16px 32px;
    border-radius: 12px;
    margin-bottom: 16px;
    @include phone{
        padding: 16px;
    }
    &-q{
        line-height: 28px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-plus,&-minus{
            height: 20px;
            padding: 0;
            cursor: pointer;
            border: none;
            background: none;
            display: flex;
            align-items: center;
        }
    }
    &-large{
        padding: 16px 32px 32px 32px;
        &-title{
            color: #56C4C5;
            font-size: 1.125rem;
            line-height: 28px;
            margin-bottom: 24px;
        }
        &-ans{
            display: none;
            color: #747474;
            line-height: 32px;
        }
        @include phone{
            padding: 16px 16px 24px 16px;
        }
    }
}

.copyright{
    margin-top: 100px;
}
